@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.content-post {
	$this: &;
	margin: 24px 0;
	&:hover .divider {
		max-width: 100%;
	}
	&__media {
		justify-self: center;
		overflow: hidden;
		img {
			transition: scale 300ms ease;
			&:hover {
				scale: 1.1;
			}
		}
	}
	&__wrapper {
		display: grid;
		@include media-breakpoint-down(lg) {
			align-items: center;
		}
		&-ltr {
			grid-template-columns: 7fr 5fr;
			@include media-breakpoint-down(lg) {
				grid-template-columns: 1fr;
			}
		}
		&-rtl {
			grid-template-columns: 5fr 7fr;
			@include media-breakpoint-down(lg) {
				grid-template-columns: 1fr;
				#{$this}__media {
					grid-row: 1;
				}
			}
		}
	}

	&__content {
		padding: 60px 90px;
		display: flex;
		flex-direction: column;
		gap: 32px;
		@include media-breakpoint-down(sm) {
			padding: 20px;
		}
		& > * {
			width: 100%;
		}
	}

	&__title {
		@include font($roboto, $brown, 2.9rem, 400, normal);
		text-align: center;
	}

	&__divider {
		margin: 0 auto;
		transition: max-width 300ms ease;
	}

	&__description {
		@include font($jost, $brown, 2rem, 400, normal);
		text-align: center;
	}
}
