@use "../abstracts/variables.scss" as *;
@use "../abstracts/mixins" as *;

.header {
	margin-bottom: 24px;

	&::before {
		content: "";
		display: block;
		background-color: $light;
		height: 16px;
		margin-bottom: 32px;
	}
	&__list {
		display: flex;
		list-style-type: none;
		gap: 20px;
	}

	&__nav {
		@include media-breakpoint-down(lg) {
			display: none;
		}
	}

	&__wrapper {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-inline: 32px;
		@include media-breakpoint-down(lg) {
			padding-inline: 0;
		}
	}
	&__logo {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		@include media-breakpoint-down(lg) {
			position: static;
			transform: unset;
		}
	}
	&__icons {
		display: flex;
		gap: 20px;
		@include media-breakpoint-down(lg) {
			display: none;
		}
	}
	&__link {
		@include font($roboto, $brown, 1.6rem, 400, normal);
		letter-spacing: 1.6px;
		text-transform: uppercase;
		text-decoration: none;
		&-arrow {
			display: flex;
			align-items: center;
			gap: 7px;
		}
	}
}
