@use "../abstracts/variables" as *;

.arrow-link {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 11px;
	text-decoration: none;
	position: relative;
	transition: gap 300ms ease;
	&:hover {
		gap: 20px;
	}
	&::before {
		content: "";
		position: absolute;
		bottom: -1px;
		height: 2px;
		background-color: $brown;
		width: 100%;
	}
}
